@import "@src/style.scss";

.title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  margin: 30px 30px 30px 30px;

  &:hover {
    color: #535bf2;
  }
}
