@import '../../style.scss';

.title {
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 700;
}

.description {
    font-size: 16px;
    font-family: Pretendard;
    margin-bottom: 12px;
}

.canvas {
    touch-action: none;
    user-select: none;
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);

    @media (max-width: 768px) {
        width: min(100vh, 100vw);
        height: min(100vh, 100vw);
    }
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}