@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    src: url("/public/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    src: url("/public/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    src: url("/public/Pretendard-Regular.woff") format("woff2")
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    src: url("/public/Pretendard-Bold.woff") format("woff2")
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #303030;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100svh;
}

p, span, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

$grey50: #f9fafb;
$grey100: #f3f4f6;
$grey200: #e5e7eb;
$grey300: #d1d5db;
$grey400: #9ca3af;
$grey500: #6b7280;
$grey600: #4b5563;
$grey700: #374151;
$grey800: #1f2937;
$grey900: #111827;
$grey950: #030712;